[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bandit = "==1.7.0"
mccabe = "==0.6.1"
mypy = "==0.902"
pep8 = "==1.7.1"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"
pylint = "==2.8.3"

[dev-packages]

[requires]
python_version = "3.9"
